# Configuration file

clipboard {
    I:0 <
        30
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        103
        114
        111
        117
        110
        100
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        1
        98
        0
        0
        0
        3
        3
        0
        1
        115
        0
        0
        0
        0
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        95
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -48
        68
        22
        73
        -55
        44
        42
        -79
        47
        -50
        -53
        47
        -81
        -76
        77
        75
        -52
        41
        78
        85
        43
        75
        44
        -54
        76
        -52
        43
        -79
        5
        73
        48
        36
        28
        97
        98
        96
        80
        96
        -64
        7
        12
        24
        44
        -16
        -54
        115
        48
        -56
        16
        -112
        -25
        -95
        72
        63
        33
        -5
        9
        -71
        -97
        48
        96
        -68
        66
        64
        -63
        28
        66
        -6
        1
        -110
        5
        26
        -70
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


